h1 {
    font-weight: bold;
    text-decoration: underline;
    text-align: center;
}

nav {
    background-color: #333;
    width: 100%;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    width: 150px;
}

nav a {
    display: block;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 10px 0px;
}

nav a:hover {
    background-color: red;
    color: black;
}

.header-container header {
    background-color: rgb(0, 0, 0);
    color: white;
    text-transform: uppercase;
    padding: 10px;
}

#chooseFileButton {
    margin: 0 0 5px 0;
}

.blogPost {
    margin-top: 10px;
    border: 1px solid red;
    border-radius: 20px;
    width: 75%;
    margin: auto;
    background-color: rgba(128, 128, 128, 0.315)
}

.title {
    text-align: center;
    font-size: 2em;
    text-decoration: underline;
    font-weight: bold;
}

.postImage {
    display: block;
    margin: auto;
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
}

.article {
    text-align: left;
    margin: 10px;
}

.footer-container{
    background-color:black;
    color:white;
    text-align: center;
    padding:10px;
    margin:20px;
}